{{ define "header" }}
<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #e3f2fd"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Telegram Overflow</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/channel/">Channel</a>
        </li>
      </ul>

      <div class="d-flex">
        {{ if eq .DefaultPageData.WebUserEmail "" }}
          <a class="btn btn-link" href="/auth/login">Login</a>
          <a class="btn btn-link" href="/auth/registration">Registration</a>
        {{ else }}
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDarkDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ .DefaultPageData.WebUserEmail }}
              </a>
              <ul
                class="dropdown-menu dropdown-menu"
                aria-labelledby="navbarDarkDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="/saved/{{ .DefaultPageData.WebUserID }}">Saved</a>
                </li>
                <li>
                  <form action="/auth/logout" method="POST">
                    <button class="dropdown-item" type="submit">Logout</button>
                  </form>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
{{ end }}
