{{define "navbar"}}

<div class="col-xl-3 col-xxl-4 d-none d-xl-block">
  {{ if eq .ChannelsLength 0 }}
  <h2 class="mt-5 mb-4">
    <a class="text-decoration-none text-dark" href="/channel/">
      <span class="text-muted"> No channels found </span>
    </a>
  </h2>
  {{else}}

  <h2 class="mt-5 mb-4">
    <a class="text-decoration-none text-dark" href="/channel/">
      <span class="text-muted"> {{ .ChannelsLength }} </span>
      channels
    </a>
  </h2>

  {{range .Channels }}
  <div class="mb-3">
    <img
      alt="{{ .Name }}"
      class="rounded me-1"
      height="25"
      src="{{ .ImageURL }}"
      width="25"
    />
    <a
      class="text-decoration-none text-dark fw-semi-bold"
      href="/channel/{{ .Name }}"
    >
      {{ .Name }}
    </a>
  </div>
  {{end}}
  <div class="mt-4">
    <a class="text-decoration-none" href="/channel/?page=2"> Show more </a>
  </div>
  {{end}}
</div>

{{end}}
