{{ define "messages" }}
<div class="col-xl-6 col-xxl-4">
  {{ if eq .MessagesLength 0 }}
  <!-- Message status start -->
  <h1 class="mt-5 h2">
    <span class="text-muted"> No messages found </span>
  </h1>
  <!-- Message status end -->
  {{ else }}
  <!-- Message count start -->
  <h1 class="mt-5 h2">
    <span class="text-muted"> {{ .MessagesLength }} </span>
    messages
  </h1>
  <!-- Message count end -->
  {{$userID := .WebUserID}} 
  {{$userEmail := .UserEmail}} 
  {{ range .Messages }}
  <div class="card mt-4 border-light">
    <!--Channel and user info start-->
    <div class="card-header bg-white border-light">
      <div class="row">
        <div class="col">
          <a
            class="text-decoration-none fw-semi-bold text-dark"
            href="/channel/{{ .ChannelName }}"
          >
            <img
              alt="{{ .ChannelName }}"
              class="rounded me-1"
              height="25"
              src="{{ .ChannelPhotoURL }}"
              width="25"
            />

            {{ .ChannelName }}
          </a>
        </div>

        <div class="col text-end">
          <a
            class="text-decoration-none fw-semi-bold text-dark"
            href="/user/{{ .UserID }}"
          >
            <img
              alt="{{ .FullName }}"
              class="rounded me-1"
              height="25"
              src="{{ .PhotoURL }}"
              width="25"
            />

            {{ .FullName }}
          </a>
        </div>
      </div>
    </div>
    <!--Channel and user info end-->

    <!--Message info start-->
    <div class="card-body"> 
      {{ if eq .Image ""}}
      <div class="row">
        <a class="text-reset text-decoration-none" href="/message/{{ .ID }}">
          <p class="card-text">{{ .Title }}</p>
        </a>
      </div>
      {{ else  }}
       <div class="row">
        <div class="col-3">
          <img alt="screenshot" class="rounded img-fluid" height="100" src="{{ .Image }}">
        </div>
        <div class="col-9">
          <a class="text-reset text-decoration-none" href="/message/{{ .ID }}"> 
            <p class="card-text">
              {{ .Title  }}
            </p>
          </a>
        </div>
      </div>
      {{ end  }}
    </div>
    <!-- Message info start -->

    <!-- Replie info start-->
    <div class="card-footer bg-white border-light">
      <div class="row text-muted">
        <div class="col">
          <a
            class="text-reset text-decoration-none d-inline-flex"
            href="/message/{{ .ID }}"
          >
            <img
              alt="chat"
              class="me-2"
              src="https://static.telq.org/chat.svg"
              width="18"
            />
            {{ .ReplieCount }}
          </a>
        </div>
        <div class="col text-end">
          {{ if eq $userEmail "" }} 
            Sign in or sign up to save messages 
          {{ else }}
            {{ if .Status }}
              Message is saved 
            {{ else }}
              <form action="/saved/create/{{ $userID }}/{{ .ID }}" method="POST">
                <button type="submit" class="btn btn-outline-success">Save</button>
              </form>
            {{ end }} 
          {{ end }}
        </div>
      </div>
    </div>
    <!-- Replie info end-->
  </div>
  {{ end }}

  <ul class="pagination justify-content-center mt-5">
    {{ .Pager.Render }}
  </ul>

  {{ end }}
</div>
{{ end }}
