{{ define "channels" }}
<div class="col-xl-6 col-xxl-4">
  {{ if eq .ChannelsLength 0 }}
  <h1 class="mt-5 h2">
    <span class="text-muted"> No channels found </span>
  </h1>
  {{ else }}
  <h1 class="mt-5 h2">
    <span class="text-muted"> {{ .ChannelsLength }} </span>
    channels
  </h1>

  {{ range .MainChannels }}
  <div class="card border-light mt-3" id="to-0">
    <a
      class="text-decoration-none text-dark stretched-link"
      href="/channel/{{ .Name }}"
    ></a>
    <div class="card-body">
      <div class="card-text">
        <img
          alt="channel_title"
          class="rounded me-1"
          height="25"
          src="{{ .PhotoURL }}"
          width="25"
        />

        <span class="fw-semi-bold"> {{ .Title }} </span>

        <div class="row mt-2"></div>

        Messages
        <span class="text-muted"> {{ .Stats.MessagesCount }} </span>

        <div class="row"></div>

        Replies
        <span class="text-muted"> {{ .Stats.RepliesCount }} </span>

        <div class="row"></div>

        Telegram
        <a
          class="text-decoration-none position-relative z-2"
          href="https://t.me/{{ .Name }}"
          rel="nofollow"
          target="_blank"
        >
          @{{ .Name }}
        </a>
      </div>
    </div>
  </div>
  {{ end }}

  <ul class="pagination justify-content-center mt-5">
    {{ .Pager.Render }}
  </ul>

  {{ end }}
</div>
{{ end }}
