{{ define "saved" }}
<div class="col-xl-6 col-xxl-4">
  {{ if eq .MessagesLength 0 }}
  <!-- Message status start -->
  <h1 class="mt-5 h2">
    <span class="text-muted"> No saved messages found </span>
  </h1>
  <!-- Message status end -->
  {{ else }}
  <!-- Message count start -->
  <h1 class="mt-5 h2">
    <span class="text-muted"> {{ .MessagesLength }} </span>
    messages saved
  </h1>
  <!-- Message count end -->

  {{ range .Messages }}
  <div class="card mt-4 border-light">
    <!--Channel and user info start-->
    <div class="card-header bg-white border-light">
      <div class="row">
        <div class="col">
          <a
            class="text-decoration-none fw-semi-bold text-dark"
            href="/channel/{{ .ChannelName }}"
          >
            <img
              alt="{{ .ChannelName }}"
              class="rounded me-1"
              height="25"
              src="{{ .ChannelImageURL }}"
              width="25"
            />

            {{ .ChannelName }}
          </a>
        </div>

        <div class="col text-end">
          <a
            class="text-decoration-none fw-semi-bold text-dark"
            href="/user/{{ .UserID }}"
          >
            <img
              alt="{{ .FullName }}"
              class="rounded me-1"
              height="25"
              src="{{ .UserImageURL }}"
              width="25"
            />

            {{ .FullName }}
          </a>
        </div>
      </div>
    </div>
    <!--Channel and user info end-->

    <!--Message info start-->
    {{ if or ( eq .ImageURL "" ) (eq .ImageURL "https://firebasestorage.googleapis.com/v0/b/tg-scanner.appspot.com/o/default.jpg?alt=media")}}
    <div class="card-body">
      <a class="text-reset text-decoration-none" href="/message/{{ .ID }}">
        <p class="card-text">{{ .Title }}</p>
      </a>
    </div>
    {{ else }}
    <div class="card-body">
      <a class="text-reset text-decoration-none" href="/message/{{ .ID }}">
      <div class="row">
        <div class="col-3">
          <img alt="screenshot" class="rounded img-fluid" height="100" src="{{ .ImageURL }}">
        </div>
        <div class="col-9">
          <p class="card-text">{{ .Title }}</p>
        </div>
      </div>
      </a>
    </div>
    {{ end }}
    <!-- Message info start -->

    <!-- Replie info start-->
    <div class="card-footer bg-white border-light">
      <div class="row text-muted">
        <div class="col">
          <a
            class="text-reset text-decoration-none d-inline-flex"
            href="/message/{{ .ID }}"
          >
            <img
              alt="chat"
              class="me-2"
              src="https://static.telq.org/chat.svg"
              width="18"
            />
            {{ .ReplieCount }}
          </a>
        </div>
        <div class="col text-end">
          <form action="/saved/delete/{{ .SavedID }}" method="POST">
            <button type="submit" class="btn btn-outline-danger">Remove</button>
          </form>
        </div>
      </div>
    </div>
    <!-- Replie info end-->
  </div>
  {{ end }} {{ end }}
</div>
{{ end }}
