{{ define "user" }}
<div class="col-xl-6 col-xxl-4">
  <h1 class="mt-5 h2">
    <span class="text-muted"> {{ .MessagesLength }} </span>
    messages from

    <img
      alt="{{ .User.FullName }}"
      class="rounded me-1"
      height="25"
      src="{{ .User.PhotoURL }}"
      width="25"
    />

    <span class="text-muted"> {{ .User.FullName }} </span>
  </h1>

  {{ if eq .MessagesLength 0  }}
    <span class="text-muted"> No messages found) </span>
  {{ else }}
  {{ range .Messages }}
  <div class="card border-light mt-4">
    <div class="card-header bg-white border-light">
      <a
        class="text-decoration-none text-dark fw-semi-bold"
        href="/channel/{{ .ChannelName }}"
      >
        <img
          alt="{{ .ChannelTitle }}"
          class="rounded me-1"
          height="25"
          src="{{ .ChannelPhotoURL }}"
          width="25"
        />

        {{ .ChannelTitle }}
      </a>
    </div>

    {{ if eq .Image "" }}
    <div class="card-body">
      <a class="text-reset text-decoration-none" href="/message/{{ .ID }}">
        <p class="card-text">{{ .Title }}</p>
      </a>
    </div>
    {{ else }}
    <div class="card-body">
      <a class="text-reset text-decoration-none" href="/message/{{ .ID }}">
      <div class="row">
        <div class="col-3">
          <img alt="screenshot" class="rounded img-fluid" height="100" src="{{ .Image }}">
        </div>
        <div class="col-9">
          <p class="card-text">{{.Title}}</p>
        </div>
      </div>
      </a>
    </div>
    {{ end }}

    <div class="card-footer bg-white border-light">
      <div class="row text-muted">
        <div class="col">
          <a
            class="text-reset text-decoration-none d-inline-flex"
            href="/message/{{ .ID }}"
          >
            <img
              alt="chat"
              class="me-2"
              src="https://static.telq.org/chat.svg"
              width="18"
            />
            {{ .ReplieCount }}
          </a>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }} 
</div>

{{ end }}
